
<div class='row'>
  <div class='col-12'>
    <div class='form-label-group'>
      <input type='text' id='inputName' class='form-control'
             placeholder='Server Name' required='' autofocus=''
             [(ngModel)]='myServerChild.name'>
      <label for='inputName'>Server Name</label>
    </div>

    <div class='form-label-group'>
      <input type='text' id='inputContent' class='form-control'
             placeholder='Content Server' required='' autofocus=''
             [(ngModel)]='myServerChild.content'>
      <label for='inputContent'>Content Server</label>
    </div>

    <div class='row' *ngIf='!myServerChild.type; else editServer'>
      <div class='col-6'>
        <button class='btn btn-lg btn-primary btn-block'
                type='submit'
                (click)='addServer("primary")'>server blue
        </button>
      </div>
      <div class='col-6'>
        <button class='btn btn-lg btn-danger btn-block'
                type='submit'
                (click)='addServer("danger")'>server red
        </button>
      </div>
    </div>
    <ng-template #editServer>
      <div class='row'>
        <div class='col-12'>
          <select class="custom-select d-block w-100" id="server" [(ngModel)]='myServerChild.type'>
            <option *ngFor="let ser of ['primary', 'danger']" [ngValue]="ser">
              {{ser}}
            </option>
          </select>
        </div>
        <div class='col-12 my-3'>
          <button class='btn btn-lg btn-success btn-block'
                  (click)='updateServer()'>save
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
