<div class='container'>
  <button class='btn btn-sm btn-secondary' (click)='example=0'>layout</button>
  <button class='btn btn-sm btn-secondary' (click)='example=1'>example 1</button>
  <button class='btn btn-sm btn-secondary' (click)='example=2'>example 2</button>
  <hr>
</div>

<span [ngSwitch]='example'>
  <span *ngSwitchCase='0'>
    <app-layout-container></app-layout-container>

    <app-layout-main></app-layout-main>

    <app-layout-footer></app-layout-footer>
  </span>

  <span *ngSwitchCase='1'>
    <app-example-1-component></app-example-1-component>
  </span>

  <span *ngSwitchCase='2'>
    <app-example-1-component></app-example-1-component>
  </span>
</span>
