<div class='container'>
  <button class='btn btn-sm btn-secondary mr-1'
          *ngFor='let example of examples; let id = index'
          (click)='exampleSelected=id'>{{ example }}</button>
  <hr>
  <h5 class='bg-info py-2 text-center text-white'>selected: {{ examples[exampleSelected] }}</h5>
  <hr>
</div>

<span [ngSwitch]='exampleSelected'>
  <span *ngSwitchCase='0'>
    <app-layout-container></app-layout-container>

    <app-layout-main></app-layout-main>

    <app-layout-footer></app-layout-footer>
  </span>

  <span *ngSwitchCase='1'>
    <app-example-1-component></app-example-1-component>
  </span>

  <span *ngSwitchCase='2'>
    <app-example-2-users></app-example-2-users>
  </span>
</span>
