<div class='row'>
  <div class='col-12'>
    <ul class='list-group mb-3'>
      <li
        class='list-group-item d-flex justify-content-between'
        *ngFor='let server of serverChildElements.reverse()'>
        <div>
          <h6 class='my-0'>{{ server.name }}</h6>
          <small class='text-muted'>{{ server.content }}</small>
        </div>
        <span class='col-2'><span class='badge btn-{{ server.type }} btn-block'>{{ server.type }}</span></span>
      </li>
    </ul>
  </div>
</div>
