<div class='row'>
  <div class='col-12'>
    <ul class='list-group mb-3'>
      <li
        class='list-group-item d-flex justify-content-between'
        *ngFor='let server of serverChildElements.reverse()'>
        <div>
          <h6 class='my-0'>{{ server.name }}</h6>
          <small class='text-muted'>{{ server.content }}</small>
        </div>
        <span class='col-2 text-center'>
          <span class='badge btn-{{ server.type }} btn-block'>{{ server.type }}</span>
          <i class='fa fa-pencil' (click)='editServer(server)'></i>
          <i class='fa fa-trash' (click)='removeServer()'></i>
        </span>
      </li>
    </ul>
  </div>
</div>
